* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #54d1ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: aliceblue;
    background-image: url(./images/zz.png);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid #fff;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
}

.clock::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #848484;
    z-index: 9999;
}

.hour,
.hr {
    width: 160px;
    height: 160px;
}

.min,
.mn {
    width: 180px;
    height: 180px;
}

.sec,
.sc {
    width: 230px;
    height: 230px;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
}

.hr::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 8px;
    background-color: #848484;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 6px;
    background-color: #d6d6d6;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 2px;
    background-color: #ff6767;
    border-radius: 6px 6px 0 0;
}
